{#
/**
 * @file
 * Default theme implementation to display a formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - url: An absolute URL of image.
 * - length: File size of image.
 * - type: MIME type of image.
 * - image_style: An optional image style.
 *
 * @see template_preprocess_image_formatter()
 *
 * @ingroup themeable
 */
#}
<enclosure url="{{ url }}" length="{{ length }}" type="{{ type }}" />
